REMNAWAVE_API_URL=https://techno0.pro
REMNNAWAVE_API_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1dWlkIjoiZmVjNTZiOTItNmY5OC00MzQ1LWJmNGEtNzkxYzczNWY1NTE1IiwidXNlcm5hbWUiOm51bGwsInJvbGUiOiJBUEkiLCJpYXQiOjE3NjY2NzY0MzMsImV4cCI6MTA0MDY1OTAwMzN9.iSRgtG34lbqrJ7GjP-dS6Ulj1xp4IZmS5M6dvc8gSxA
PORT=4000
CORS_ORIGIN=http://localhost:5173


